:root {
    --web-studio-black: #2F303A;
    --web-studio-blue: #2196F3;
    --web-studio-white: #fff;
--title:#212121;
--text: #757575;
--footer:rgba(255, 255, 255, 0.60) ;
--black:#000;
--team: #F5F4FA;
}


body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--title);

}
ul, h2, p, h3,h1, button {
    padding: 0;
    margin: 0;
}
img, button {
display: block;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.container { 
    margin: 0 auto;
    padding: 0 15px;
    width: 1200px;
    
}
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    
    
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list {
 display: flex;
 justify-content: flex-end;
 gap: 50px;
}
.logo {
    
font-family: "Raleway", sans-serif;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
color:var(--web-studio-blue);


 
}
.black-logo {
    color: var(--black);
}
.blue-logo {
    color:var(--web-studio-white);
}
.header-link {
    color:var(--web-studio-blue);
    color:var(--title);
    justify-content: end;
font-weight: 500;



}
.header-link:hover {
    color:var(--web-studio-blue);
}

.header-li-con{
 font-weight: 500;

color: var(--text);

}

.header-link:hover {
    color:var(--web-studio-blue);
}
.header-contacts {
    display: flex;
    gap: 50px;
    
}

.main.container {
    display: flex;
}
.section-hero{
    background-color: #2F303A ;
    padding: 200px 0;
    flex-wrap: wrap;
}
.section-hero_title {
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.36;
    letter-spacing: 2.64px;
    
    color:var(--web-studio-white);
    margin-bottom: 30px;
}

.button-hero {
    color:var(--web-studio-white);
    margin: 0 auto;
        border: none;
        border-radius: 4px;
    font-size: 16px;
font-weight: 700;
letter-spacing: 0.96px;
width: 216px;
height: 50px;
background: #2196F3;
padding-top: 10px;
padding-bottom: 10px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);



}
.features {
    padding-top: 94px;
    padding-bottom: 94px;
}
.features-list-item::before {
    content: "";
    display: inline-block;
    width: 270px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--team);
    border-radius: 4px;
    /* margin-bottom: 3opx; */

}
.features-list-item:nth-child(1)::before{
    background-image: url(../images/antenna1.svg);
}
.features-list-item:nth-child(2)::before{
    background-image: url(../images/clock1.svg);
}
.features-list-item:nth-child(3)::before{
    background-image: url(../images/diagram1.svg);
}
.features-list-item:nth-child(4)::before{
    background-image: url(../images/astronaut1.svg);
}
.features-list {
 
 display: flex;
 gap: 30px;
 
}
.features-list-title {
    
    color: var(--title);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 10px;
margin-top: 30px;

}
.features-list-description {
    
    color: var(--text);

    line-height: 2;
    letter-spacing: 0.42px;
}
.work {
    display: flex;
    justify-content: center;
    padding-bottom: 94px;
    
}
.work-list {
    display: flex;
    gap: 30px;
}
.work-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}
.work-image {
    width: 370px;
    height: 294px;
    gap: 30px;
    
    
   
}
.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--team);
    
}
.team-list {
    display: flex;
    gap: 30px;
    
}

.team-title {
   text-align: center;
font-size: 36px;
font-weight: 700;
letter-spacing: 1.08;
margin-bottom: 50px;
}
.team-list-item {
    content: "";
    padding-bottom: 30px;
    background-color: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team-list-title {
text-align: center;
font-size: 16px;
font-weight: 500;
letter-spacing: 0.48px;
margin-bottom: 10px;
}
.team-list-description {
    color:var(--text);
text-align: center;
font-size: 16px;
letter-spacing: 0.48px;
}

.team-list-image {
    width: 270px;
height: 261px;
 margin-bottom: 30px;
 
 
}
.footer {
    background-color:  #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.white-footer{
    color: var(--web-studio-white);
}
.footer-logo {
    display: block;
    color: var(--web-studio-blue);
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
margin-bottom: 20px;
}
.address {
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.footer-link {
    color: #FFF;
line-height: 1.7; 
letter-spacing: 0.42px;



}

.footer-link:hover {
color: rgba(255, 255, 255, 0.60);
}
.footer-contact {
    color: rgba(255, 255, 255, 0.60);
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.42px;
}

