:root {
    --web-studio-black: #2F303A;
    --web-studio-blue: #2196F3;
    --web-studio-white: #fff;
--title:#212121;
--text: #757575;
--footer:rgba(255, 255, 255, 0.60) ;
--black:#000;
--team: #F5F4FA;
--svg:#AFB1B8;
}


body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--title);

}
ul, h2, p, h3,h1, button, figure {
    padding: 0;
    margin: 0;
}
img, button {
display: block;
}
button{
    border: none;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.container { 
    margin: 0 auto;
    padding: 0 15px;
    width: 1200px;
    
}
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    
    
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header-list {
 display: flex;
 justify-content: flex-end;
 gap: 50px;
}
.logo {
    
font-family: "Raleway", sans-serif;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
color:var(--web-studio-blue);


 
}
.black-logo {
    color: var(--black);
}
.blue-logo {
    color:var(--web-studio-white);
}
.header-list-link {
    color:var(--web-studio-blue);
    color:var(--title);
    justify-content: end;
font-weight: 500;
position: relative;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-link:hover {
    color:var(--web-studio-blue);

   
   
}
.header-list-link::after{
    content: "";
    position: absolute;
    top: 42px;
    left:0;
    border-bottom: 6px solid var(--web-studio-blue);
    border-radius: 4px;
    height: 2px;
    width: 0;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
}
.header-list-link:hover::after{
 width: 100%;
 
}



.header-li-con{
 font-weight: 500;
display: flex;
align-items: center;
color: var(--text);
font-size: 14px;


}

.header-link:hover {
    color:var(--web-studio-blue);
}
.header-contacts {
    display: flex;
    gap: 50px;
  width: 370px;  
}
.contacts-list{
    display: flex;
  
    align-items: center;
    gap: 30px;
}
.contacts-list-item{
    max-width: 200px;
}
.header__con_svg{
    fill: var(--text);
    margin-right: 10px;
    width: 16px;
}
.main.container {
    display: flex;
}
.header-li-con:hover{
    color: var(--web-studio-blue);
}
.header-li-con:hover .header__con_svg{
      fill: var(--web-studio-blue);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-hero{
    background-color: #2F303A ;
    padding: 200px 0;
    flex-wrap: wrap;
    background-image: linear-gradient( to right , rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../images/img10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-hero_title {
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.36;
    letter-spacing: 2.64px;
    
    color:var(--web-studio-white);
    margin-bottom: 30px;
}

.button-hero {
    color:var(--web-studio-white);
    margin: 0 auto;
        border: none;
        border-radius: 4px;
    font-size: 16px;
font-weight: 700;
letter-spacing: 0.96px;
width: 216px;
height: 50px;
background: #2196F3;
padding-top: 10px;
padding-bottom: 10px;

box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);



}

.backdrop  {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 9;
    /* transform: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
/* .backdrop.is-hidden .modal {
    transform: translate(-50%, -100%) 
  } */
.modal{
    transform: translate(-2%, -1%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    width: 528px;
   padding: 40px;
    background-color: #fff;
  z-index: 10;
}
.modal-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title) ;
     margin-bottom: 12px;
}
.div-modal-btn-close{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--web-studio-white);
    cursor: pointer;
    border: 1px solid #00000010;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-list{
    display: flex;
    flex-direction: column;
   
    margin-bottom: 20px;
}

.modal-list-label{
    position: relative;
letter-spacing: 0.01em;
color: var(--text);
padding-right: 7px;
font-size: 12px;
}
.modal-list-input{
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
width: 100%;
padding: 12px 20px 12px 42px;
margin-top: 4px;
outline: none;
cursor: pointer;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-list-input:hover{
    border-color: var(--web-studio-blue);
    }
.modal-svg{
    width: 15px;
    height: 15px;
    position: absolute;
    left: 12px;
    top: 31px;
}

.modal-list-input:hover + .modal-svg{
    fill: var(--web-studio-blue);
}
.modal-textarea{
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    outline: none;
    cursor: pointer;
    margin-top: 4px;
}

.div-modal-check{
    width: 16px;
    height: 15px;
    
}
.div-modal-text{

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text);
    text-align: center;
    margin-bottom: 40px;
    }
.div-modal-check:checked::after{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--web-studio-blue);
    border: 3px solid var(--web-studio-blue);
}

.div-modal-link{
    color: var(--web-studio-blue);
    text-decoration: underline;
}
.div-modal-btn-sub{
width: 200px;
height: 50px;
border: none;
    display: block;
    
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--web-studio-blue);
   
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
   cursor: pointer;
    margin: 0 auto;
    color: var(--web-studio-white);
}

.div-modal-svg-close{
    fill: var(--black);
    width: 11px;
    height: 11px;
    
}
.div-modal-btn-close:hover .div-modal-svg-close{
    fill: var(--web-studio-blue);
}
.is-hidden{
  
    opacity: 0;
    pointer-events: none;
}
.features {
    padding-top: 94px;
    padding-bottom: 94px;
}
.features-list-item::before {
    content: "";
    display: inline-block;
    width: 270px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--team);
    border-radius: 4px;
    /* margin-bottom: 3opx; */

}
.features-list-item:nth-child(1)::before{
    background-image: url(../images/antenna1.svg);
}
.features-list-item:nth-child(2)::before{
    background-image: url(../images/clock1.svg);
}
.features-list-item:nth-child(3)::before{
    background-image: url(../images/diagram1.svg);
}
.features-list-item:nth-child(4)::before{
    background-image: url(../images/astronaut1.svg);
}
.features-list {
 
 display: flex;
 gap: 30px;
 
}
.features-list-title {
    
    color: var(--title);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 10px;
margin-top: 30px;

}
.features-list-description {
    
    color: var(--text);

    line-height: 2;
    letter-spacing: 0.42px;
}
.work {
    display: flex;
    justify-content: center;
    padding-bottom: 94px;
    
}
.work-list {
    display: flex;
    gap: 30px;
}
.work-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}
.work-image {
    width: 370px;
    height: 294px;
    
    
    
    
   
}
.thumb{
    position: relative;
}
.label{
    background-color: rgba(47, 48, 58, 0.8);;
    height: 49px;
    color: #F5F4FA;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 29px;
    text-transform: uppercase;

}
.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--team);
    
}
.team-list {
    display: flex;
    gap: 30px;
    
}

.team-title {
   text-align: center;
font-size: 36px;
font-weight: 700;
letter-spacing: 1.08;
margin-bottom: 50px;
}
.team-list-item {
    padding-bottom: 30px;
    background-color: #FFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team-list-title {
text-align: center;
font-size: 16px;
font-weight: 500;
letter-spacing: 0.48px;
margin-bottom: 10px;
}
.team-list-description {
    color:var(--text);
text-align: center;
font-size: 16px;
letter-spacing: 0.48px;
margin-bottom: 10px;
}

.team-list-image {
    width: 270px;
height: 261px;
 margin-bottom: 30px;

 
}
.team__list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.team-list__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    
     
}
.team-list__item:hover{
    background-color: var(--web-studio-blue);
    border-radius: 50%;
}
.team-list__item:hover .team__svg{
    fill: var(--web-studio-white);
   
}
.team__svg{
    display: flex;
    justify-content: center;
    
    width: 20px;
    height: 20px;
    fill: var(--svg);
}
.clients-title{
    color: #212121;
text-align: center;
font-family: "Roboto", sans-serif;
font-size: 36px;
font-weight: 700;
letter-spacing: 1.08px;
margin-bottom: 49px;
padding-top: 89px;
}
.clients{
    padding-bottom: 88px;
  
}
.clients-list{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.clients-list-item{
    width: 170px;
    border: 1px solid #AFB1B8;
    padding: 15px 30px;
    border-radius: 7px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.clients-list-item:hover{
    border-color:var(--web-studio-blue);
}
.clients-list-item:hover .clients-svg{
         transition:fill   250ms cubic-bezier(0.4, 0, 0.2, 1); ;
      fill: var(--web-studio-blue);
}
.clients-list-link{
    fill: var(--black);
    display: flex;
    
}

.clients-svg{
    fill: #AFB1B8;
    width: 106px;
    height: 60px;

}

.footer {
    background-color:  #2F303A;
    padding-top: 64px;
    padding-bottom: 67px;
    
}

.footer .container{
    display: flex;
    
}
.white-footer{
    color: var(--web-studio-white);
}
.footer-logo {

    display: block;
    color: var(--web-studio-blue);
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
margin-bottom: 20px;
}
.footer-center{
    display: block;
    margin-right: 92px;
}
.address {
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.footer-link {
    color: #FFF;
line-height: 1.7; 
letter-spacing: 0.42px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

width: 211px;
}
.footer-contacts{
    margin-right: 95px;
    
}
.footer-link:hover {
color: rgba(255, 255, 255, 0.60);
}
.footer-contact {
    color: rgba(255, 255, 255, 0.60);
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.42px;
}
.social-network-title{
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--web-studio-white);
margin-bottom: 23px;
}

.footer-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff10;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition: backround-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-svg{
    width: 20px;
    height: 20px;
    fill: var(--web-studio-white);

}
.address{
    font-style: normal;
}

.footer-list-item:hover{
    background-color: var(--web-studio-blue);
    border-radius: 50%;
}
.footer-list-link:hover .footer-svg{
    fill: var(--web-studio-white);
}
.footer-right-form{
    display: flex;
  
  align-items: flex-end;
}
.footer-right-title{
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--web-studio-white);
    margin-bottom: 20px;
}
.footer-right-input{
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;
  
    margin-right: 12px;
    padding: 13px 15px;
    font-weight: 400;
    font-size: 16px;
    
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: rgba(33, 150, 243, 0);
}
.footer-right-btn{
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px 28px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--web-studio-white);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--web-studio-blue);
    
}
.footer-right-svg{
    width: 21px;
    height: 21px;
   
    fill: var(--web-studio-white);
}

   